<!DOCTYPE html>
<html lang="en" ng-app="regApp">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak ng-controller="regCtrl as ctrl">
    <div class="row">
        <div class="col-sm-8 col-lg-6 col-lg-offset-3">

            <div class="jumbotron">
                <div class="container">
                    <h1>Registration:</h1>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-sm-8 col-lg-6 col-lg-offset-3">

            <!--<form name="regForm" ng-submit="regForm.$valid && ctrl.submitReg()" novalidate>-->
            <form name="regForm" ng-submit="regForm.$valid && ctrl.submitReg()" novalidate>



                <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" placeholder="abc@xyz.com" class="form-control" required ng-model="ctrl.person.email"
                    />
                    <!--{{ctrl.user.email}}-->
                    <!-- "required" this is a a field validation rule-->

                    <div class="validation" data-ng-show="regForm.email.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Email is required
                        </div>

                        <div data-ng-show="regForm.email.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid
                        </div>


                    </div>

                </div>


                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.person.password" required minlength="8"
                        ng-pattern="/^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />


                    <div class="validation" data-ng-show="regForm.password.$touched || regForm.$submitted">


                        <div data-ng-show="regForm.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>

                        <div data-ng-show="regForm.password.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Password have at least 8 characters
                        </div>

                        <div data-ng-show="regForm.password.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Password must include at least a number, one
                            of the following special character, @, # or $, and have both upper and lower cases.
                        </div>

                    </div>

                </div>






                <div class="form-group">
                    <label for="confirmPwd">Confirm Password</label>
                    <input id="confirmPwd" name="confirmPwd" type="password" class="form-control" ng-model="ctrl.person.confirmPwd" required
                        ng-required="ctrl.person.password" />

                    <div class="validation" data-ng-show="regForm.confirmPwd.$dirty || regForm.$submitted">


                        <div data-ng-show="regForm.confirmPwd.$error.required">

                            <span class="glyphicon glyphicon-alert"></span> Please reconfirm password
                        </div>

                        <div data-ng-show="ctrl.person.password != ctrl.person.confirmPwd">
                            <span class="glyphicon glyphicon-alert"></span> Password does not match.
                        </div>

                    </div>

                </div>





                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input id="name" name="name" type="text" class="form-control" ng-model="ctrl.person.name" required maxlength="30" />



                    <div class="validation" data-ng-show="regForm.name.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Your name is mandatory
                        </div>

                        <div data-ng-show="regForm.name.$error.maxlength">
                            <span class="glyphicon glyphicon-alert"></span> Your name should not exceed 30 characters.
                        </div>

                    </div>

                </div>




                <div class="form-group">
                    <label for="gender">Gender</label>
                    <br/>
                    <input id="gender" name="gender" type="radio" value="M" ng-model="ctrl.person.gender" required /> Male
                    <br/>
                    <input id="gender" name="gender" type="radio" value="F" ng-model="ctrl.person.gender" required/> Female
                    <br/>

                    <div class="validation" data-ng-show="regForm.gender.$error.required || regForm.$submitted">

                        <div data-ng-show="regForm.gender.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please indicate your gender
                        </div>

                    </div>

                </div>






                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" class="form-control" ng-model="ctrl.person.dob" required />

                    <div class="validation" data-ng-show="regForm.dob.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.dob.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Your DOB is mandatory
                        </div>

                        <div data-ng-show="ctrl.ageCheck() == true ">
                            <span class="glyphicon glyphicon-alert"></span> You have to be 18 years and above to sign up..
                        </div>

                    </div>


                </div>



                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.person.address" required />


                    <div class="validation" data-ng-show="regForm.address.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.address.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Your address is required
                        </div>



                    </div>




                </div>



                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select class="form-control" id="nationality" name="nationality" ng-model="ctrl.person.country" required>
                    <option value="">Please select</option>
                    <option ng-repeat="nation in ctrl.nations">{{nation.name}}</option>
                    
                </select>

                    <div class="validation" data-ng-show="regForm.nationality.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.nationality.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please indicate your nationality
                        </div>

                    </div>
                </div>







                <div class="form-group">
                    <label for="contact">Contact number</label>
                    <input id="contact" name="contact" type="text" class="form-control" ng-model="ctrl.person.contact" required
                    />

                    <!--ng-pattern="/^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/-->
                    <!--\d\W.(?![!@#~`<.>{}?/;|_='[$%^&*])$-->

                    <div class="validation" data-ng-show="regForm.contact.$touched || regForm.$submitted">

                        <div data-ng-show="regForm.contact.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Your contact number is mandatory
                        </div>

                        <!--<div data-ng-show="regForm.contact.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Only digits and characters such as +,-,(,) are
                            allowed
                        </div>-->

                    </div>



                </div>



                <div class="form-group">
                    <hr/>
                    <div ng-show="ctrl.showDetails">
                        <h3>Your registration has been submitted successfully!</h3>
                    </div>
                    <button input id="submit" name="submit" type="submit" class="btn btn-success">Submit</button>


                </div>




            </form>







        </div>

    </div>






    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/registration.controller.js"></script>

</body>

</html>